[user]
name = Tatsuya Sawai
email = a209050@gmail.com
[core]
editor = vim
sparse-checkout = true
[mergetool]
mergetool = vimdiff
[color]
status = auto
branch = auto
interactive = auto
diff = auto
[help]
autocorrect = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
