[user]
name = Tatsuya Sawai
email = a209050@gmail.com
[core]
editor = vim
sparse-checkout = true
[mergetool]
mergetool = vimdiff
[color]
status = auto
branch = auto
interactive = auto
diff = auto
[help]
autocorrect = 1
[diff]
external = /home/tatsuya-s/.lib/meld-diff.py
[alias]
co = checkout
cit = commit
st = status
ada = add -A
reh = reset --hard HEAD
pso = push origin
pom = push origin master
pl = pull

