[user]
  name = Tatsuya Sawai
  email = a209050@gmail.com
[core]
  editor = vim
  sparse-checkout = true
[mergetool]
  mergetool = vimdiff
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[help]
  autocorrect = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
external = /Users/timers-tatuas/.MySettings/meld-diff.py
[alias]
  co = checkout
  st = status
  ada = add -A
  reh = reset --hard HEAD
  pso = push origin
  plo = pull origin
  psom = push origin master
  plom = pull origin master
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
